body {
  display: flex;
  justify-content: center;
}

.app {
  height: 600px;
  width: 100vh;
}
.map {
  height: 100%;
  width: 100%;
}

.search-bar-container {
  display: flex;
  justify-content: center;
}

.search-bar-title {
  position: relative;
}

.search-bar-input {
  position: absolute;
  margin-top: 5rem;
}

.marker {
  background-image: url("https://imgur.com/GsQZ5AG.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  /* background-color: yellow; */
  /* border-radius: 11px;
  border: solid 3px darkslategray; */
}

.marker-delivery {
  background-image: url("https://imgur.com/1Gjbpgd.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  border: solid darkslategrey 3px;
}
