body {
  display: flex;
  justify-content: center;
}

.map {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.marker {
  background-image: url("https://imgur.com/GsQZ5AG.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  /* background-color: yellow; */
  /* border-radius: 11px;
  border: solid 3px darkslategray; */
}

.marker-delivery {
  background-image: url("https://imgur.com/1Gjbpgd.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  border: solid darkslategrey 3px;
}

.search-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 48rem;
}

.address-input {
  width: 50%;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  position: relative;
}

.search-button {
  width: 8rem;
  height: 50px;
  background-color: #afd5f0; /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.search-button:hover {
  background-color: #71bdf7;
}
