body {
  display: flex;
  justify-content: center;
}

.app {
  height: 600px;
  width: 100vh;
}
.map {
  height: 100%;
  width: 100%;
}

.marker {
  background-image: url("https://imgur.com/GsQZ5AG.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  /* background-color: yellow; */
  /* border-radius: 11px;
  border: solid 3px darkslategray; */
}

.marker-delivery {
  background-image: url("https://imgur.com/1Gjbpgd.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  border: solid darkslategrey 3px;
}

.search-container {
  margin-top: 1rem;
}

.address-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container {
}

.search-button {
  width: 100%;
  background-color: #afd5f0; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #71bdf7;
}
